{% extends 'base.html.twig' %}

{% block title %}Список авторов{% endblock %}

{% block body %}
    <h1>Авторы</h1>

    <div>
        <a href="{{ path("author_create") }}">Добавить нового автора</a>
    </div>

    <ul>
    {% for author in authors %}
        <li>
            <a href="{{ path('author_view', {'author': author.id}) }}">{{ author.getShortName() }}</a>
            <em><a href="{{ path('author_update', {'author': author.id}) }}">Редактировать</a></em>
            <em><a href="{{ path('author_delete', {'author': author.id}) }}">Удалить</a></em>
        </li>
    {% endfor %}
    </ul>

{% endblock %}
