{% extends 'base.html.twig' %}

{% block title %}Информация об авторе {{ author.getShortName() }}{% endblock %}

{% block body %}
    <h1>Информация об авторе</h1>

    <div>
        <a href="{{ path('author') }}">К списку авторов</a>
        <a href="{{ path("author_create") }}">Добавить нового автора</a>
    </div>

    <ul>
        <li>Фамилия: {{ author.getLastName()}}</li>
        <li>Имя: {{ author.getFirstName()}}</li>
        <li>Отчество: {{ author.getMiddleName()}}</li>
    </ul>

    <div>
        <a href="{{ path("author_update", {'author': author.id}) }}">Отредактировать</a>
        <em><a href="{{ path('author_delete', {'author': author.id}) }}">Удалить</a></em>
        <a href="{{ path("book_create_author", {'author': author.id}) }}">Добавить книгу автора</a>
    </div>

    {%  if author.getBooks() %}
    <h2>Книги автора</h2>
    <ol>
    {% for book in author.getBooks() %}
        <li><a href="{{ path('book_view', {'book': book.id}) }}">{{ book.title }}</a></li>

    {% endfor %}
    </ol>
    {% endif %}

{% endblock %}
