{% extends 'base.html.twig' %}

{% block title %}Информация о книге {{ book.getTitle() }}{% endblock %}

{% block body %}
    <h1>Информация о книге</h1>

    <div>
        <a href="{{ path('book') }}">К списку книг</a>
    </div>

    <ul>
        <li>Название: {{ book.title }}</li>
        <li>Год издания: {{ book.year }}</li>
        <li>ISBN: {{ book.ISBN }}</li>
        <li>Страниц: {{ book.pages }}</li>
        <li>Авторы: {% for author in book.authors %}
                <a href="{{ path('author_view', {'author': author.id}) }}">{{ author.getShortName() }}</a>{% if not loop.last %}, {% endif %}
            {% endfor %}</li>
    </ul>

    {% if book.cover %}
        <img src="{{ asset('uploads/covers/' ~ book.cover) }}" /><br/>
        {{ book.cover }}
    {% endif %}

    <div>
        <a href="{{ path("book_update", {'book': book.id}) }}">Отредактировать</a>
        <em><a href="{{ path('book_delete', {'book': book.id}) }}">Удалить</a></em>
    </div>


{% endblock %}
